*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

#cabeçalho{
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#controls div{
    padding: 10px;
}

span{
    text-align: center
}

h1{
    text-align: center;
}

button{
    margin-top: 5px;
    padding: 8px;
    font-size: 24px;
    color: #fff;
    background: #f22;
    font-weight: bold;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s
}

button:hover{
    background: rgb(128, 255, 0);
}

table{
    margin: 20px auto;
    padding: 10px;
    flex-shrink: 0;
}

td{
    width: 60px;
    height: 60px;
    text-align: center;
}

img{
    width: 80%;
}

.has_queen{
    background-image: url("rainha.png");
    background-color: rgba(255, 0, 0, .6)
}

.no_queen{
    background-color: #aaa
}

.row{
    display: flex;
    border-bottom: 1px #000 solid;
    overflow-x: auto;
    white-space: nowrap;
}

.goal .has_queen{
    background-color: rgb(128, 255, 0);
    border-radius: 5px
}